<div class="bg-blue-500 flex items-center justify-between px-5" role="banner">
    <div class="flex items-center space-x-5">
        <img
          width="40"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
        <span class="capitalize">Services</span>
    </div>

      <div class="flex space-x-5 capitalize">
        <a class="hover:text-white" href="#">Quiz</a>
        <a class="hover:text-white" href="#">Acceuil</a>
        <a class="hover:text-white" href="#">Nos services</a>
        <a class="hover:text-white" href="#">Se connecter</a>
      </div>
  </div>

  <div class="mb-5 capitalize bg-gray-300 text-2xl text-blue-400 font-bold h-60 flex items-center justify-center">
    <span>Bienvenu Dans votre plateforme de prestation de Services</span>
  </div>
