<div>
  <div class="transition-opacity fixed z-50 top-0 bottom-0 left-0 overflow-y-auto right-0 flex items-center justify-center">
    <div class="relative w-full lg:w-1/2">
      <div class="p-6 text-center rounded-t-lg bg-blue-600 text-white">
        <h1 class="text-indigo text-xl lg:text-xl font-bold text-goldGohze">
          Welcome to Quizz
        </h1>
      </div>
      <div class="bg-white rounded-b-lg relative p-2 lg:p-5">
        <div class="mb-5">
          <div class="ml-5 text-center lg:text-xl text-sm">
            <p class="mb-6">This is a quiz application built using AngularJS.</p>
            <p class="mb-6">Currently it's loaded with CSS questions from W3Scools, but you can easily load any type of questions into it.</p>
            <p class="mb-6">It will dynamically load the question->answers pair and upload them into the components.</p>
            <button class="inline uppercase bg-gray-900 hover:border-gray-900 hover:bg-white hover:text-gray-900 hover:border-2 text-white py-2 px-5">start the quiz</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
